<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--自定义realm-->
    <bean id="userRealm" class="com.leezhong.shiro.realm.UserRealm">
        <property name="credentialsMatcher" ref="userCredentialsMatcher" />
    </bean>

    <bean id="userCredentialsMatcher" class="com.leezhong.shiro.UserCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="2"/>
        <!--当为true进行16进制的decode,如果设置为false，则要进行Base64解码-->
        <property name="storedCredentialsHexEncoded" value="false"/>
    </bean>

    <!--扫描shiro相关-->
    <context:component-scan base-package="com.leezhong.shiro"/>
    <bean id="chainDefinitionSectionMetaSource" class="com.leezhong.shiro.ChainDefinitionSectionMetaSource">
        <property name="filterChainDefinitions" >
            <value>
                /login/** = anon
                /logout = logout
                /static/** = anon
                /index.jsp=anon
                /**=authc
            </value>
        </property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- shiro 的核心安全接口 -->
        <property name="securityManager" ref="securityManager" />
        <!-- 要求登录时的链接 -->
        <property name="loginUrl" value="/login/login.jsp" />
        <!-- 登陆成功后要跳转的连接 -->
        <property name="successUrl" value="/index.jsp" />
        <!-- 未授权时要跳转的连接 -->
        <property name="unauthorizedUrl" value="/login/unauthorized.jsp" />
        <!-- shiro 连接约束配置 -->
        <property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource"/>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--启动shiro注解-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>